@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
*, *:before, *:after {
  box-sizing: border-box;
}

html, body, div, span, object, iframe, figure, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, code, em, img, small, strike, strong, sub, sup, tt, b, u, i, ol, ul, li, fieldset, form, label, table, caption, tbody, tfoot, thead, tr, th, td, main, canvas, embed, footer, header, nav, section, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
     -moz-text-size-adjust: none;
          text-size-adjust: none;
  font-family: "Nunito", sans-serif;
}

input[type=text], input[type=password], input[type=email] {
  all: unset;
}

html {
  background-color: #000A0F;
}

footer, header, nav, section, main {
  display: block;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Primary */
/* Secondary */
/* Grey Schema */
/* White Schema */
/* Black Schema */
/* Error */
/* Success */
/* Warning */
/* Orange */
/* Green */
/* Yellow */
/* Light Blue */
/* Dark Blue */
/* Purple */
/* Pink */
/* Red */
/* Backgrounds */
/* Black Schema */
html {
  font-size: 16px;
  font-family: "Nunito", sans-serif;
  color: white;
}

h1 {
  font-weight: 700;
  font-size: 3rem;
}

h2 {
  font-weight: 700;
  font-size: 2.5rem;
}

h3 {
  font-weight: 700;
  font-size: 2.25rem;
}

h4 {
  font-weight: 700;
  font-size: 2rem;
}

h5 {
  font-weight: 700;
  font-size: 1.5rem;
}

h6 {
  font-weight: 700;
  font-size: 1.25rem;
}

p {
  font-weight: 400;
  font-size: 0.8rem;
}

/* Primary */
/* Secondary */
/* Grey Schema */
/* White Schema */
/* Black Schema */
/* Error */
/* Success */
/* Warning */
/* Orange */
/* Green */
/* Yellow */
/* Light Blue */
/* Dark Blue */
/* Purple */
/* Pink */
/* Red */
/* Backgrounds */
/* Black Schema */
/* Media querys */
/* Aligment */
.form--login {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

input[type=checkbox] {
  width: 1rem;
  height: 1rem;
}

.form--signUp {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.register--container {
  display: grid;
  grid-template-columns: 1fr 1.3fr;
  grid-template-rows: 1fr;
  padding: 1rem;
  max-width: 100vw;
  max-height: 100vh;
}

.register--content {
  display: grid;
  gap: 1rem;
}

.register--right {
  background-color: hsla(0deg, 0%, 0%, 0.4);
  padding: 1rem 1rem 1rem 0;
  display: grid;
  gap: 1rem;
  border-radius: 4px;
  overflow: hidden;
}
.register--right h6 {
  padding: 1rem;
  text-transform: uppercase;
}

.register--left {
  display: grid;
  gap: 1rem;
  padding: 1rem;
}

.logo {
  max-width: 10%;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.inputs--container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.img1 {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.inputs--container--left, .inputs--container--right {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

a {
  text-decoration: none;
  color: hsl(165deg, 100%, 50%);
  font-weight: 700;
}

a:hover {
  color: hsl(165deg, 100%, 30%);
}

span {
  color: hsl(165deg, 100%, 50%);
}

.instructions {
  border-radius: 4px;
  background: hsla(0deg, 0%, 0%, 0.8);
  padding: 1rem;
}

.offscreen {
  position: absolute;
  left: -9999px;
  color: white;
}

.hide {
  display: none;
}

.valid:focus {
  border-bottom: 1px solid hsl(140deg, 100%, 50%);
}

.invalid:focus {
  border-bottom: 1px solid hsl(345deg, 100%, 50%);
}

.errmsg {
  background-color: hsla(0deg, 0%, 100%, 0.1);
  color: hsl(345deg, 100%, 50%);
  padding: 0.5rem;
}

p {
  word-wrap: break-word;
}

h1::-moz-selection, h2::-moz-selection, h3::-moz-selection, h4::-moz-selection, h5::-moz-selection, h6::-moz-selection, p::-moz-selection, span::-moz-selection {
  background-color: hsl(165deg, 100%, 30%);
}

h1::selection, h2::selection, h3::selection, h4::selection, h5::selection, h6::selection, p::selection, span::selection {
  background-color: hsl(165deg, 100%, 30%);
}

.navigation-content {
  display: flex;
  align-items: stretch;
  align-content: stretch;
}
.navigation-content .logo-content {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-grow: 2;
}
.navigation-content .links-content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  flex-grow: 8;
}
.navigation-content .buttons-content {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-grow: 2;
}

.layout-content {
  padding: 1rem 2rem;
}

button {
  font-family: "nunito", "sans-serif";
  border-radius: 4px;
  color: black;
  font-weight: 700;
  background-color: hsl(165deg, 100%, 50%);
  max-width: 20%;
  border: none;
  font-size: 0.7rem;
  padding: 1rem 0.5rem;
}
button::-webkit-input-placeholder {
  color: hsl(0deg, 0%, 70%);
}
button:disabled {
  background: hsl(0deg, 0%, 20%);
  color: hsl(0deg, 0%, 40%);
}
button:hover {
  background-color: hsl(165deg, 100%, 40%);
  color: white;
}

input[type=text],
input[type=email],
input[type=password],
textarea {
  border: none;
  color: white;
  font-size: 0.7rem;
  padding: 1rem 0.5rem;
  background-color: hsla(0deg, 0%, 0%, 0.2);
  border-radius: 4px 4px 0 0;
  border-bottom: 1px solid hsl(0deg, 0%, 70%);
}
input[type=text]::-webkit-input-placeholder,
input[type=email]::-webkit-input-placeholder,
input[type=password]::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: hsl(0deg, 0%, 70%);
}

input[type=password]:-ms-reveal {
  display: none;
}

input {
  caret-color: hsl(165deg, 100%, 50%);
}
input::-moz-selection {
  background-color: hsl(165deg, 100%, 30%);
}
input::selection {
  background-color: hsl(165deg, 100%, 30%);
}/*# sourceMappingURL=App.css.map */